name: Auto Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Extract version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Build release assets
        run: |
          mkdir -p dist
          FILENAME="ModernEase-${VERSION}"
          zip -rq "dist/$FILENAME.zip" . -x ".git/*" ".github/*" "README.md" ".gitignore" "dist/*"
          tar --exclude='.git' --exclude='.github' --exclude='README.md' \
              --exclude='.gitignore' --exclude='dist/*' \
              -czf "dist/$FILENAME.tar.gz" .
      - name: Upload GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: ${{ env.VERSION }}
          files: |
            dist/ModernEase-${{ env.VERSION }}.zip
            dist/ModernEase-${{ env.VERSION }}.tar.gz
