name: Validate HTML Files

on:
  push:
    paths-ignore:
      - ".github/**"
  pull_request:
    paths-ignore:
      - ".github/**"

permissions:
  contents: read

jobs:
  html-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install HTML Validator
        run: sudo apt-get install -y tidy
      - name: Validate HTML Files and Report Errors
        run: |
          find . -name "*.html" -print0 | while IFS= read -r -d '' file; do
            tidy -quiet -errors "$file" || echo "$file"
          done
